.button {
  :global {
    .ant-btn {
      background-color: #219ebc;
      color: white;
      border-radius: 0 0.938rem 0.938rem 0.938rem;
      &:hover {
        border: 1px solid #15729e;
      }
    }
  }
}
