.header {
  position: relative;
  width: 90vw;
  height: 90vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: white;
  .heroSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    .textContainer {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      text-align: left;

      h1 {
        font-size: 3.5rem;
        font-weight: bold;
        margin-bottom: 1rem;
      }

      p {
        font-size: 1.25rem;
        margin-bottom: 2rem;
        color: #666;
      }

      .googleLoginButton {
        background-color: #023047;
        padding: 16px 32px;
      }
    }

    .imageContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 100%;

      .heroImage {
        width: 100%;
        height: auto;
        border: none;
      }
    }
  }
}
