.content {
  width: 80%;
  margin: auto;
  padding: 20px;

  .stepContent {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .stepsAction {
    margin-top: 24px;
    display: flex;
    justify-content: center;
  }
}
