/* Genel yapıyı düzene sokma */
.stepContainer {
  margin: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center; /* Kartların daha iyi hizalanması için */
}

.stepCard {
  background-color: #f2f8f8;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  width: calc(33.33% - 16px);
  box-sizing: border-box;

  @media (max-width: 1024px) {
    width: calc(50% - 16px);
  }

  @media (max-width: 768px) {
    width: calc(100% - 16px);
  }
}

/* Timer düzeni */
.timerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem; /* Timer ile kartlar arasına mesafe koyma */
}

.inputWrapper {
  display: flex;
  gap: 10px;
  align-items: center; /* Input ve butonun dikey hizalanması */
}

.timerInput {
  padding: 10px;
  font-size: 14px;
  border: 2px solid #ccc;
  border-radius: 5px;
  width: 60px;
  text-align: center;
}

.timerButton {
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.timerButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.timerButton:hover:not(:disabled) {
  background-color: #0056b3;
}

.timerDisplay {
  font-size: 18px;
  color: #333;
  margin-left: 10px; /* Zaman göstergesi butonlardan ayrı durması için */
}
.timerSpacing {
  margin-bottom: 20px; /* Timer ile stepContainer arasında 20px boşluk */
}