.stepContainer {
  margin: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.stepCard {
  background-color: #f2f8f8;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  width: calc(33.33% - 16px);
  box-sizing: border-box;

  @media (max-width: 1024px) {
    width: calc(50% - 16px);
  }

  @media (max-width: 768px) {
    width: calc(100% - 16px);
  }
}

.commentListItem {
  margin-bottom: 8px;
  border-radius: 4px;
  padding: 8px;
  overflow: hidden;

  .commentCard {
    margin-bottom: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;

    .commentCardBody {
      padding: 8px;
    }

    .groupedComment {
      font-weight: normal;
      color: black;
      padding: 10px;
      border-left: 3px solid rgb(31, 185, 193);
      background-color: #f5f6f7;
      border-radius: 4px;
      margin-bottom: 5px;
      white-space: normal;
      overflow: visible;
      text-overflow: initial;
      font-size: 14px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .singleCommentCard {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 8px;
    background-color: white;
    margin-bottom: 8px;
    width: 100%;
  }

  .buttonContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .skeletonPlaceholder {
    margin-bottom: 4px;
  }
}
